.deep-link {
  position: absolute;
  margin-left: 0.3em;
  opacity: 0.1;
  font-size: 60%;

  \-webkit-transition: opacity 0.2s ease-in-out 0.1s;
  \-moz-transition: opacity 0.2s ease-in-out 0.1s;
  \-ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .deep-link,
h3:hover .deep-link,
h4:hover .deep-link,
h5:hover .deep-link,
h6:hover .deep-link {
  opacity: 1;
}
