<head>
  <link href="https://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <meta content="{{ site.title }}" property="og:site_name">
  <meta name="twitter:card" content="summary">
  {% if page.title %}<meta name="twitter:title" content="{{ page.title }}">
  <meta content="{{ page.title }}" property="og:title">
  {% else %}<meta name="twitter:title" content="{{ site.title }}">
  <meta content="{{ site.title }}" property="og:title">{% endif %}
  {% if page.layout == 'post' %}
  <meta content="article" property="og:type">
  {% if page.author.first %}
  <meta content="{{ site.url }}/authors/{{ page.author.first }}" property="article:author">
  {% else %}
  <meta content="{{ site.url }}/authors/{{ page.author }}" property="article:author">
  {% endif %}
  {% else %}<meta content="website" property="og:type">{% endif %}
  {% if page.description %}<meta name="twitter:description" content="{{ page.description }}">
  <meta content="{{ page.description }}" property="og:description">
  {% else %}<meta name="twitter:description" content="{{ site.description }}">
  <meta content="{{ site.description }}" property="og:description">{% endif %}
  {% if page.url %}<meta content="{{ site.url }}{{ page.url }}" property="og:url">{% endif %}
  {% if page.date %}<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">{% endif %}
  {% if page.image %}<meta name="twitter:image:src" content="{{ site.url }}/public/img/{{ page.image }}">
  <meta content="{{ site.url }}public/img/{{ page.image }}" property="og:image">
  {% else %}<meta name="twitter:image:src" content="{{ site.url }}/public/img/nabla-border.png">
  <meta content="{{ site.url }}/public/img/nabla-border.png" property="og:image">{% endif %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/public/css/poole.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/public/css/syntax.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/public/css/hyde.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/public/css/anchor.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/public/css/custom.css' | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/public/apple-touch-icon-144-precomposed.png' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/public/favicon.ico' | relative_url }}">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/atom.xml' | relative_url }}">

  <!-- Google Analytics -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122333911-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-122333911-1');
  </script>

</head>
