---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {% assign post_author = page.author | join: ",/authors/" | prepend: "/authors/" %}
  {% assign post_authors = site.authors | where_exp: "item", "post_author contains item.id" %}
  <span class="post-metadata">
      Written by {{ post_authors | map: "name" | join: ", " }}
      {{ page.date | date_to_string }}
  </span>

  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
