---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  {% comment %}
  This snippet of code takes authors of a page, either a string or list and
  does resolution for site author IDs and leaves others untouched otherwise.
  {% endcomment %}

  {% if page.author.first %}
      {% assign post_author_array = page.author %}
  {% else %}
      {% assign post_author_array = page.author | split: ','  %}
  {% endif %}


  {% for a in post_author_array %}
    {% assign apath = a | prepend: "/authors/" %}
    {% assign alookup = site.authors | where: "id", apath %}
    {% if alookup.size > 0 %}
        {% assign atoadd = alookup.first.name %}
    {% else %}
        {% assign atoadd = a %}
    {% endif %}
    {% assign authors_verbose = authors_verbose | append: atoadd | append: ", " %}
  {% endfor %}

  {% assign trunc_size = authors_verbose | size | minus: 2 %}
  {% assign authors_verbose = authors_verbose | slice: 0, trunc_size  %}

  <span class="post-metadata">
      Written by {{ authors_verbose }}
      {{ page.date | date_to_string }}
  </span>

  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
